$primario:#E88F2A;
$segundary:#FAF3EB;
$ligth:#fff;
$dark:#2B2825;

$Alto:100vh; 
$red:#ff0000;
$enable-rounded-borders:true;
$redes: (
    rojo:#ff0e0e,
    naranjo:#E88F2A,
    azul:#0077b5,
);

$estilos:(
    color:#63c54f,
    alineacion:left,
    font-size: 25px,
    relleno: 1rem
);